<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nosae.game.popo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <!-- Splash activity -->
        <activity
            android:name="com.nosae.game.popo.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:noHistory="true" >
        </activity>

        <!-- Settings activity -->
        <activity
            android:name="com.nosae.game.scene.Settings"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsDialogStyle" >
        </activity>

        <!-- Karnofsky scale activity -->
        <activity
            android:name="com.nosae.game.scene.KarnofskyScale"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/GameTheme" >
        </activity>

        <!-- Menu activity -->
        <activity
            android:name="com.nosae.game.scene.Menu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GameTheme"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Load activity -->
        <activity
            android:name="com.nosae.game.scene.Guide"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GameTheme"
            android:noHistory="true" >
        </activity>

        <!-- Main activity -->
        <activity
            android:name="com.nosae.game.popo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GameTheme"
            android:noHistory="true" >
        </activity>

        <!-- StageSwipe FragmentActivity -->
        <activity
            android:name="com.nosae.game.scene.StageSwipe"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GameTheme" >
        </activity>
    </application>

    <!-- Vibrator -->
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
